{% extends 'base.html' %} {% block 'content' %} 
{% include 'header.html' with data=cat%}

<div class="container mt-3">
  <div class="row">
   <div class="col-12">

    

    {% if request.path == '/' %}
    <span  class="mt-3 h5" style="color: #39b4ac;">Popular <span  class="text-dark">Products</span></h5>

     {% elif request.path == '/search/' %} 
    <span  class="mt-3 h5" style="color: #39b4ac;"> Search Related <span  class="text-dark"> Data</span></h5>
    {% else %}
    <span  class="mt-3 h5" style="color: #39b4ac;"> {{ catdata.title }} <span  class="text-dark"> Data</span></h5>

    {% endif %}
    
   </div> 
   {% for prd in prd %}
   <div class="col-lg-3 mt-3 col-md-4 col-sm-6 col-12">
  <a href="{% url 'singlepage' prd.id %}" style="text-decoration: none;">
    <div class="card" style="height: 320px; border-radius: 20px">
      <div class="card-body">
        <img
          src="{{ prd.image.url }}"
          height="200px"
          height="200px"
          alt=""
          class="card-img-top"
          style="border-radius: 10px"
        />
        <div class="mt-2">
          <span class="text-secondary" style="font-size: 13px">{{ prd.category.title }}</span>
        </div>
        <div class="d-flex ">
          <div style="flex-grow: 1;">
            <span class="text-dark" style="font-size: 20px; font-weight: 500"
              >{{ prd.name|truncatechars:10 }}</span
            >
            <div class="">
              <span style="font-size: 19px; color: #39b4ac; font-weight: 600"
                >₹{{prd.discount_price|truncatechars:5}}</span
              >
              <del
                class="ms-1"
                style="font-size: 15px; color: grey; font-weight: 500"
                >₹{{ prd.price|truncatechars:5 }}</del
              >
            </div>
          </div>
         <a href="{% url 'addtocart' prd.slug %}">
          <div title="Add to Cart" class="mt-2" style="width: 40px; height: 40px; border-radius: 50%; background-color: #39b4ac;align-items: center;
          justify-content: center;
          display: flex;">
           <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="white" class="bi bi-cart-plus" viewBox="0 0 16 16">
            <path d="M9 5.5a.5.5 0 0 0-1 0V7H6.5a.5.5 0 0 0 0 1H8v1.5a.5.5 0 0 0 1 0V8h1.5a.5.5 0 0 0 0-1H9V5.5z"/>
            <path d="M.5 1a.5.5 0 0 0 0 1h1.11l.401 1.607 1.498 7.985A.5.5 0 0 0 4 12h1a2 2 0 1 0 0 4 2 2 0 0 0 0-4h7a2 2 0 1 0 0 4 2 2 0 0 0 0-4h1a.5.5 0 0 0 .491-.408l1.5-8A.5.5 0 0 0 14.5 3H2.89l-.405-1.621A.5.5 0 0 0 2 1H.5zm3.915 10L3.102 4h10.796l-1.313 7h-8.17zM6 14a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm7 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
          </svg>
          </div>
         </a>
        </div>
      </div>
    </div>
  </a>
  </div>
   {% endfor %}
  </div>
</div>

{% endblock 'content' %}
